# Project namespace (defaults to the current folder name if not set)
#COMPOSE_PROJECT_NAME=


# Password for the 'elastic' user (at least 6 characters)
#ELASTIC_PASSWORD=


# Password for the 'kibana_system' user (at least 6 characters)
#KIBANA_PASSWORD=

# ES HOST
#ELASTICSEARCH_HOSTS=

# Version of Elastic products
#STACK_VERSION=


# Set the cluster name
#CLUSTER_NAME=docker-cluster


# Set to 'basic' or 'trial' to automatically start the 30-day trial
#LICENSE=basic
#LICENSE=trial


# Port to expose Elasticsearch HTTP API to the host
#ES_PORT=9200


# Port to expose Kibana to the host
#KIBANA_PORT=5601


# Increase or decrease based on the available host memory (in bytes)
#MEM_LIMIT=1073741824


# SAMPLE Predefined Key only to be used in POC environments
#ENCRYPTION_KEY=b88bye43ghe5qdox9oeoemr79apdsejsm6lcbn8woya5f0pi7t5lsl0boeml9wd7
